<tr>
  <td><input data-bind-value="category.name" type="text"></td>
  <td><input data-bind-value="category.period" type="text"></td>
  <td><input data-bind-value="category.offset" type="text"></td>
  <td><a href="javascript:" class="remove-category">Remove</a></td>
</tr>
